<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        /* Mimic default browser styles for plain text */
        pre {
            white-space: pre-line;
            word-wrap: break-word;
            -moz-control-character-visibility: visible;
            font-size: large;
            text-indent: 0px;
        }

        html:not([dir]) pre {
            unicode-bidi: plaintext;
        }

        :root {
            color-scheme: dark;
        }
    </style>
</head>
<body>
    <pre>
        {{range .Files}}
            {{.IsDir}} <a href="/{{.Path}}">{{.Name}}</a>
            Last modified: {{.LastMod}}

        {{end}}
        {{if (eq .Count 0)}}
        <span>this folder is empty</span>
        {{end}}
    </pre>
</body>
</html>